body {
    background-color: #d1d1d1;
    margin: 0;
    font-family: Montserrat, sans-serif;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

* {
    box-sizing: border-box; /* Incluye padding y border en el tamaño del elemento */
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    max-width: 100%;
}

.botones {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    text-align: center;
}

.botones a {
    flex: 1;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    color: #0e2f4f;
}

.izquierda {
    display: flex;
    align-items: left;
}

.izquierda h1 {
    color: #0e2f4f;
    font-size: 25px;
    font-weight: 900;
    line-height: 50px;
}

.barra img {
    height: 70px;
    padding: 10px;
}

.banner {
    background-color: #0e2f4f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
}

.titulo {
    margin-bottom: 20px;
    text-align: center;
}

.banner h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.banner p {
    font-size: 50px;
    color: #ffffff;
    margin-top: 0;
}

.banner img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Para asegurar que el contenedor ocupa todo el ancho disponible */
    padding: 20px 0; /* Espaciado vertical entre el contenido */
}

.contenido > div {
    background-color: #ffffff;
    border-radius: 10px; /* Bordes redondeados */
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    padding: 30px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de tarjeta */
}

.contenido h3 {
    color: #0e2f4f;
    text-align: center;
    font-size: 24px;
}

.contenido p {
    text-align: justify;
}

.producto{
    display: flex;
    flex-direction: column; /* Por defecto apila verticalmente */
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centramos el contenedor */
    line-height: 1; /* Ajusta el espaciado entre líneas */
}

.producto img {
    max-width: 300px;
    height: auto;
}

.parte1 {
    display: flex;
    flex-direction: column; /* Por defecto apila verticalmente */
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centramos el contenedor */
    line-height: 1; /* Ajusta el espaciado entre líneas */
}

.parte1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre texto y el enlace */
}

.parte1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Añadir márgenes para un mejor espaciado */
}

.parte1 img {
    max-width: 500px;
    border-radius: 10%;
    height: auto;
}

/* Diseño responsivo */
@media (min-width: 768px) {
    .banner {
        flex-direction: row;
        padding: 50px;
    }
    .titulo {
        margin: 0 20px;
    }
    .parte1 {
        flex-direction: row; /* En pantallas grandes, el texto y la imagen estarán en fila */
        align-items: flex-start; /* Alineación de los elementos al inicio para uniformidad */
        justify-content: center; /* Centro del contenedor */
    }

    .parte1 div {
        align-items: flex-start; /* Texto alineado a la izquierda en pantallas grandes */
    }

    .parte1 a {
        margin-left: 20px; /* Espacio entre el texto y la imagen en pantallas grandes */
    }
}

footer {
    background-color: #232e2a;
    text-align: center;
    padding: 5px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 14px;
    opacity: 0.75;
    color: #ffffff;
}
